html, body { width: 100%; height: auto; padding: 0;margin: 0; background-color: purple; background-size: 100% auto;}
p{font-family: "Open Sans",Arial,sans-serif; color: white; padding: 1em; margin: 0; text-align: center;}
a{font-family: "Open Sans",Arial,sans-serif; color: white; padding: 1em; margin: 0; text-align: center;}
.navbar{background-color: purple; overflow: hidden; width: 100%;}
.navbar a{float:left; color:black; text-align: center; padding: 0; margin: 1%; text-decoration: none; font-size: 2em;}
.navbar a:hover{background-color: green; color: white;}
.navbar a.active{background-color: green; color: white;}
#bakgrundsbild{background-image: url(../images/bakgrund.jpg); width: 100%; height: 56.25vw; padding: 0; margin: 2.5em 0 0 0; background-size: 100% auto;}

@media screen and (max-width: 768px){
html, body{background-color: blue;}
p{font-family: "Open Sans",Arial,sans-serif; color: tomato; padding: 1em; margin: 0; text-align: center;}
a{font-family: "Open Sans",Arial,sans-serif; color: tomato; padding: 1em; margin: 0; text-align: center;}
.navbar{overflow:hidden; background-color: #333; position: relative;}
.navbar #sitelinks{display:none;}
.navbar a{color:white; padding: 1% 1%; text-decoration: none; font-size: 2em; display: block;}
.infobox{width: 80%; height: auto; padding: 2em; margin: 2em; background-color: white;}
.infobox_text{border: 1em solid #777777; margin: 1em;}
img.infobox_img{width: 30%; height: 30%; display: block; margin-left: auto; margin-right: auto; border-radius: 2em;}
}